html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

code {
  font-family: $font-mono;
  padding: $spacing-1;
  border-radius: $border-radius-1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

h6,
p {
  font-family: $font-body;
}

.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.splash {
  background: $color-c-50;
}
