html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: $font-mono;
  padding: $spacing-1;
  border-radius: $border-radius-1;
}

.MuiTypography-h1:not(.MuiPickersToolbarText-toolbarTxt):after,
.MuiTypography-h2:not(.MuiPickersToolbarText-toolbarTxt):after {
  content: '';
}

.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kirbyLogoText {
  fill: $color-black;
}

.dark .kirbyLogoText {
  fill: $color-white;
}

.sensitivity {
  display: flex;
  align-items: center;
}

.sensitivity-sensitive {
  color: $color-y-400;
}
