html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-mono;
  padding: $spacing-1;
  border-radius: $border-radius-1;
}

.App {
  text-align: center;
}

.switch-wrapper {
  position: relative;
  width: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.splash {
  background: $color-c-50;
  transition: all .2s ease-in-out;
}

.splash-dark {
  background: $color-g-900;
}
