html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-mono;
  padding: $spacing-1;
  border-radius: $border-radius-1;
}

.App {
  text-align: center;
}

.splash {
  background: $color-c-50;
}

.splash-dark {
  background: $color-g-900;
}
