.srd-demo-canvas {
  height: 100%;
  min-height: 300px;
  background-color: rgb(240, 240, 240) !important;
  $color: rgba(rgb(0, 0, 0), 0.05);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;

  .pointui {
    fill: rgba(white, 0.5);
  }
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    display: flex;
    flex-grow: 1;

    .diagram-layer {
      position: relative;
      flex-grow: 1;
    }

    .tray {
      min-width: 300px;
      border: solid grey 1px;
      background-color: white;
      flex-grow: 0;
      flex-shrink: 0;

      .tray-item {
        color: black;
        background-color: white;
        padding: 5px;
        margin: 10px 10px;
        border: solid 2px;
        border-radius: 5px;
        margin-bottom: 2px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}
