// Overrides
.srd-node--selected {
  z-index: $z-2;
}

// Kirby styles
.Diagram {
  flex-grow: 1;
  display: flex;
  min-height: 100%;
}

.Diagram__layer {
  position: relative;
  flex-grow: 1;
}

.Diagram__layer--is-dragging {
  border: 3px solid $color-p-300;
}

.Diagram__canvas {
  height: 100%;
  min-height: 300px;
  background: $color-g-50;

  &:focus {
    outline: none;
  }
}

.dark .Diagram__canvas {
  background: darken($color-g-900, 7%);
}
