// Overrides
.srd-node--selected {
  z-index: $z-2;
}

// Kirby styles
.Diagram {
  flex-grow: 1;
  display: flex;
  min-height: 100%;
}

.Diagram__layer {
  position: relative;
  flex-grow: 1;
}

.Diagram__canvas {
  height: 100%;
  min-height: 300px;
}
