.srd-demo-canvas {
  height: 100%;
  min-height: 300px;
  background-color: $color-g-50 !important;
  $color: rgba($color-black, 0.05);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
}

.body {
  flex-grow: 1;
  display: flex;
  min-height: 100%;

  .diagram-layer {
    position: relative;
    flex-grow: 1;
  }

  .toolbar {
    min-width: 350px;
    border: solid $color-g-300 1px;
    padding: 5px;
    background-color: $color-white;
    flex-grow: 0;
    flex-shrink: 0;

    .toolbar-item {
      color: $color-black;
      background-color: $color-white;
      padding: 5px;
      margin: 10px 10px;
      border: solid 2px;
      border-radius: 5px;
      margin-bottom: 2px;
      cursor: pointer;
      text-align: center;
    }
  }
}
