// Job Scheduler Styles

.Scheduler__input {
  max-width: 100%;
  width: 100%;
}

.Scheduler__input .MuiInput-root {
  background: $color-white;
  padding: $spacing-2;
  margin: 8px 0 24px;

  &:hover {
    background: $color-g-100;
  }
}

.Scheduler__time-input .MuiInput-root {
  margin: 24px 0;
}
