// Job Scheduler Styles

.Scheduler__input {
  max-width: 100%;
  width: 100%;
}

.Scheduler__input .MuiInput-root {
  background: $color-white;
  margin: 8px 0 24px;

  &:hover {
    background: $color-g-100;
  }
}

.dark .Scheduler__input .MuiInput-root {
  background: $color-black;

  &:hover {
    background: $color-g-800;
  }
}

.Scheduler__input .MuiInput-input {
  padding: 1rem !important;
}

.Scheduler__time-input .MuiInput-root {
  margin: 24px 0;
}

.Scheduler__days {
  margin: 0.7rem 0 2rem;
}

.Scheduler__day-checkbox {
  position: relative;
  margin-left: 0 !important;

  .MuiCheckbox-root {
    background: $color-g-100;
    width: 48px;
    height: 48px;
    border-radius: $border-radius-1;
  }

  &:hover,
  &:hover > .MuiCheckbox-root {
    background: $color-g-200;
    border-radius: $border-radius-1;
  }

  &:hover > .MuiCheckbox-root.Mui-checked {
    background: $color-b-500;
  }

  .Mui-checked {
    background: $color-b-400;
  }

  .MuiIconButton-label {
    display: none;
  }

  .MuiFormControlLabel-root {
    position: relative;
    text-align: center;
  }

  .MuiFormControlLabel-label {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $color-black;
  }

  .Mui-checked ~ .MuiFormControlLabel-label,
  &:hover > .Mui-checked ~ .MuiFormControlLabel-label {
    color: $color-white;
  }
}

.dark .Scheduler__day-checkbox {
  .MuiCheckbox-root {
    background: $color-g-700;
  }

  &:hover,
  &:hover > .MuiCheckbox-root {
    background: $color-g-600;
  }

  &:hover > .MuiCheckbox-root.Mui-checked {
    background: $color-b-200;
  }

  .Mui-checked {
    background: $color-b-300;
  }

  .MuiFormControlLabel-label {
    color: $color-white;
  }

  .Mui-checked ~ .MuiFormControlLabel-label,
  &:hover > .Mui-checked ~ .MuiFormControlLabel-label {
    color: $color-black;
  }
}

.MuiFormControl-root.Scheduler__repeats-on-the {
  display: inline;
  width: auto;
  top: -0.4rem;

  .MuiInput-root {
    background: none;
    margin: 0;
    padding: 0;
  }

  .MuiInput-input {
    padding: 6px 24px 7px 0 !important;
  }
}
