// Monaco Code Editor Styles

// Overrides
.monaco-editor {
  padding: 1rem 0;

  &,
  .monaco-editor-background,
  & .inputarea.ime-input,
  & .margin,
  & .minimap-decorations-layer,
  & .scrollbar {
    background: $color-g-50 !important;
  }

  .current-line {
    border: none !important;
    background: $color-g-100;
  }

  .view-line {
    height: 2rem !important;
  }

  .line-numbers,
  .slider {
    color: $color-g-300 !important;
  }

  .decorationsOverviewRuler {
    height: 0 !important;
  }
}

.dark .monaco-editor {
  &,
  .monaco-editor-background,
  & .inputarea.ime-input,
  & .margin,
  & .minimap-decorations-layer,
  & .scrollbar {
    background: $color-g-900 !important;
  }

  .current-line {
    background: $color-g-800 !important;
  }

  .line-numbers,
  .slider {
    color: $color-g-600 !important;
  }
}

// Kirby styles
.Editor__heading {
  background: $color-white;
  height: 61px;
  width: 100%;
  border-bottom: 1px solid $color-g-100;
}

.dark .Editor__heading {
  background: $color-black;
  border-color: $color-g-700;
}
