// BEM = Block - Element - Modifier
// .Sidebar = block
// .Sidebar__title = element
// .Sidebar__input =- element
// .Sidebar__checkbox = element
// .Sidebar__input--is-selected
// .Need Update with Design Token Color gray
@import '~@edma/design-tokens/_scss/variables';

.sidebar {
  position: fixed;
  height: 100vh;
  background: $color-g-200;
  font-size: $font-size-3;
}
