// Hydration Tile Styles

.Tile {
  position: relative;
  width: 158px;
  height: 74px;
  border-radius: 5px;
  border: solid 1px;
  text-align: left;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $shadow-1;
  }
}

.Tile__left-port {
  height: 78px;
  top: -35px;
  position: relative;
}

.srd-node--selected,
.srd-node--selected:hover {
  & > * > .Tile {
    box-shadow: $shadow-2;
  }

  & > * > .Tile__source {
    background-color: $color-c-600;
    border-color: $color-c-600;
  }

  & > * > .Tile__transform {
    background-color: $color-v-400;
    border-color: $color-v-400;
  }

  & > * > .Tile__destination {
    background-color: $color-t-800;
    border-color: $color-t-800;
  }
}

.Tile__inner {
  border-radius: 5px 0 0 5px;
  margin-left: 4px;
  height: 100%;
  padding: 8px;
  font-size: 16px;
}

.Tile {
  & ~ * {
    top: calc(50% - 4px) !important;

    & > .port:not([data-name='left']) {
      border-radius: 50%;
      background: transparent;
      border: 2px solid;
      margin-right: 0.5rem;
      height: 8px;
      width: 8px;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 10px rgba($color-g-200, 0.5);
      }
    }
  }
}

.Tile ~ * > .port:not([data-name='right']) {
  background: transparent;
}

.Tile__source ~ * > .port:not([data-name='left']) {
  border-color: $color-c-600;
}

.Tile__transform ~ * > .port:not([data-name='left']) {
  border-color: $color-v-400;
}

.Tile__source-title,
.Tile__transform-title,
.Tile__destination-title {
  font-size: 12px;
}

// Tile link overrides

.srd-default-link path {
  stroke: $color-c-600;
}

.srd-default-link--path-selected {
  animation: none;
  stroke-dasharray: 0, 0;
}

// Delete button
.Tile__delete {
  position: absolute;
  display: inline;
  top: 0.7rem;
  right: 0.5rem;

  & button span svg path {
    fill: $color-black;
  }

  &:hover > button span svg path {
    fill: $color-r-600;
  }
}

.dark .Tile__delete {
  & button span svg path {
    fill: $color-white;
  }

  &:hover > button span svg path {
    fill: $color-r-500;
  }
}

.Tile__name {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
