// Hydration Tile Styles

.Tile {
  position: relative;
  width: 158px;
  height: 81px;
  border-radius: 5px;
  border: solid 1px;
  border-color: $color-g-600;
  background: $color-g-500;
  text-align: left;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $shadow-1;
    background: $color-black;
    border-color: $color-black;
  }
}

.dark .Tile {
  border-color: $color-g-500;
  background: $color-g-600;

  &:hover {
    background: $color-white;
    border-color: $color-white;
  }
}

.Tile__button {
  color: $color-b-600;
  border-color: $color-b-600;

  .MuiButton-label {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background: $color-b-50;
  }
}

.dark .Tile__button {
  color: $color-b-200;
  border-color: $color-b-200;

  &:hover {
    color: $color-b-300;
    border-color: $color-b-300;
  }
}

.Tile__chip.MuiChip-root {
  height: 22px;

  & span {
    padding: 0 8px;
  }
}

.Tile__left-port {
  height: 78px;
  top: -35px;
  position: relative;
}

.srd-node--selected,
.srd-node--selected:hover {
  & > * > .Tile {
    box-shadow: $shadow-2;
  }

  & > * > .Tile__source {
    background-color: $color-b-500;
    border-color: $color-b-500;
  }

  & > * > .Tile__transform {
    background-color: $color-v-400;
    border-color: $color-v-400;
  }

  & > * > .Tile__destination {
    background-color: $color-t-800;
    border-color: $color-t-800;
  }
}

.dark {
  .srd-node--selected,
  .srd-node--selected:hover {
    & > * > .Tile__source {
      background-color: $color-b-200;
      border-color: $color-b-200;
    }

    & > * > .Tile__transform {
      background-color: $color-v-300;
      border-color: $color-v-300;
    }

    & > * > .Tile__destination {
      background-color: $color-t-600;
      border-color: $color-t-600;
    }
  }
}

.Tile__inner {
  border-radius: 5px 0 0 5px;
  margin-left: 4px;
  height: 100%;
  padding: 8px;
  font-size: 16px;
  background: $color-white;
}

.dark .Tile__inner {
  background: darken($color-g-900, 5%);
}

.Tile {
  & ~ * {
    top: calc(50% - 4px) !important;

    & > .port:not([data-name='left']) {
      border-radius: 50%;
      background: transparent;
      border: 2px solid;
      margin-right: 0.5rem;
      height: 8px;
      width: 8px;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 10px rgba($color-g-200, 0.5);
      }
    }
  }
}

.Tile ~ * > .port:not([data-name='right']) {
  background: transparent;
}

.Tile__source ~ * > .port:not([data-name='left']) {
  border-color: $color-b-500;
}

.Tile__transform ~ * > .port:not([data-name='left']) {
  border-color: $color-v-400;
}

.dark {
  .Tile__source ~ * > .port:not([data-name='left']) {
    border-color: $color-b-200;
  }

  .Tile__transform ~ * > .port:not([data-name='left']) {
    border-color: $color-v-300;
  }
}

.Tile__title {
  font-size: 12px;
}

.Tile__source-title {
  color: $color-b-500;
}

.dark .Tile__source-title {
  color: $color-b-200;
}

.Tile__transform-title {
  color: $color-v-400;
}

.dark .Tile__transform-title {
  color: $color-v-300;
}

.Tile__destination-title {
  color: $color-t-800;
}

.dark .Tile__destination-title {
  color: $color-t-600;
}

// Tile link overrides

.srd-default-link path {
  stroke: $color-c-400;
}

.srd-default-link--path-selected {
  animation: none;
  stroke-dasharray: 0, 0;
}

// Delete button
.Tile__delete {
  position: absolute;
  display: inline;
  top: 0.7rem;
  right: 0.5rem;

  & button span svg path {
    fill: $color-black;
  }

  &:hover > button span svg path {
    fill: $color-r-600;
  }
}

.dark .Tile__delete {
  & button span svg path {
    fill: $color-white;
  }

  &:hover > button span svg path {
    fill: $color-r-500;
  }
}

.Tile__name {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
