// Hydration Tile Styles

.Tile {
  position: relative;
  width: 158px;
  height: 74px;
  background-color: $color-g-600;
  border-radius: 5px;
  border: solid $color-g-600 1px;
  text-align: left;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-black;
    border-color: $color-black;
    box-shadow: $shadow-1;
  }
}
.srd-node--selected,
.srd-node--selected:hover {
  & > * > .Tile {
    box-shadow: $shadow-2;
  }

  & > * > .Tile__source {
    background-color: $color-c-600;
    border-color: $color-c-600;
  }

  & > * > .Tile__transform {
    background-color: $color-v-400;
    border-color: $color-v-400;
  }

  & > * > .Tile__destination {
    background-color: $color-t-800;
    border-color: $color-t-800;
  }
}

.Tile__inner {
  background-color: $color-white;
  border-radius: 5px 0 0 5px;
  margin-left: 4px;
  height: 100%;
  padding: 8px;
  font-size: 16px;
}

.Tile {
  & ~ * {
    top: calc(50% - 4px) !important;

    & > .port:not([data-name='left']) {
      border-radius: 50%;
      background: $color-white;
      border: 2px solid;
      margin-right: 0.5rem;
      height: 8px;
      width: 8px;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 10px rgba($color-g-200, 0.5);
      }
    }
  }
}

.Tile ~ * > .port:not([data-name='right']) {
  background: transparent;
}

.Tile__source ~ * > .port:not([data-name='left']) {
  border-color: $color-c-600;
}

.Tile__transform ~ * > .port:not([data-name='left']) {
  border-color: $color-v-400;
}

.Tile__source-title,
.Tile__transform-title,
.Tile__destination-title {
  font-size: 12px;
}

.Tile__source-title {
  color: $color-c-600;
}

.Tile__transform-title {
  color: $color-v-400;
}

.Tile__destination-title {
  color: $color-t-800;
}

// Tile link overrides

.srd-default-link path {
  stroke: $color-c-600;
}
