// Hydration ToolBar styles
//
//      These styles are applied to the right side toolbar
//      in the hydration flow.

.Toolbar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  border-left: 1px solid;
  z-index: 999;
}

.Toolbar__top {
  padding: 8px;
  border-bottom: 1px solid;
}

.Toolbar__tabs {
  border-bottom: 1px solid;

  // MUI Overrides
  .MuiTab-root {
    min-width: auto;
    min-height: 40px;
    font-family: $font-heading;
    font-variant: small-caps;
    font-weight: $weight-bold;
    font-size: 10px;
    flex-grow: 1;
  }

  .MuiTabs-root {
    min-height: 40px;
  }

  .MuiTabs-indicator {
    background: transparent;
    height: 0;
  }
}

.Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__sources-tab:hover {
  color: $color-b-500;
}

.Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__transforms-tab:hover {
  color: $color-v-400;
}

.Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__destinations-tab:hover {
  color: $color-t-800;
}

.Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-disabled,
.Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-disabled,
.Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-disabled {
  color: $color-g-300;
}

.dark {
  .Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-selected,
  .Toolbar__sources-tab:hover {
    color: $color-b-200;
  }

  .Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-selected,
  .Toolbar__transforms-tab:hover {
    color: $color-v-300;
  }

  .Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-selected,
  .Toolbar__destinations-tab:hover {
    color: $color-t-600;
  }

  .Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-disabled,
  .Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-disabled,
  .Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-disabled {
    color: $color-g-600;
  }
}

.Toolbar__nodetype {
  padding: 8px 16px;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: left;
  color: $color-g-700;

  &:hover {
    background: $color-g-100;
    color: $color-black;
  }
}

.Toolbar__nodetype-disabled {
  padding: 8px 16px;
  margin-bottom: 2px;
  cursor: default;
  text-align: left;
  color: $color-g-300;

  &:hover {
    background: transparent;
  }
}

.dark .Toolbar__nodetype-disabled {
  color: $color-g-600;
}

.dark .Toolbar__nodetype {
  color: $color-g-400;

  &:hover {
    background: $color-g-800;
    color: $color-white;
  }
}

.Toolbar__connection-type {
  margin-bottom: 1rem !important;
}

.Toolbar__item-icon {
  width: 21px;
  margin-right: 4px;
}

.Toolbar__item-icon-disabled {
  width: 21px;
  margin-right: 4px;
  color: $color-g-100;
}

.Toolbar__list {
  border-bottom: 1px solid $color-g-100;
  padding: 1rem 0;
  margin: 0;
  overflow-y: scroll;
  height: calc(100% - 200px);

  &.Toolbar__list--sources {
    height: auto;
  }
}

.dark .Toolbar__list {
  border-color: $color-g-700;
}

.Toolbar__filters {
  border-bottom: 1px solid $color-g-100;
}

.dark .Toolbar__filters {
  border-color: $color-g-700;
}

.Toolbar__form-title {
  display: inline-block;
}

.Toolbar__bolt-icon {
  margin: 0 0.5rem 0 0;
  position: relative;
  top: 0.4rem;
  color: $color-g-200;
}

.dark .Toolbar__bolt-icon {
  color: $color-g-700;
}

.Toolbar__btm-btn {
  background-color: $color-g-50 !important;
  border-bottom: 1px solid $color-g-100 !important;
  align-self: flex-end;
  color: $color-g-600 !important;
  font-size: $font-size-body-0;
  box-shadow: 0 0 0 !important;
  padding: 8px 16px !important;
  text-align: left !important;
  justify-content: left !important;
  width: 100%;
  text-transform: none !important;
  font-weight: $weight-regular !important;
  border-radius: 0 !important;
  transition: all 0.2s ease-in-out !important;

  &:hover {
    color: $color-black !important;
    background: $color-g-100 !important;
  }

  .MuiSvgIcon-root {
    margin-right: 0.5rem;
  }
}

.dark {
  .Toolbar__btm-btn {
    background-color: $color-g-900 !important;
    color: $color-g-100 !important;
    border-color: $color-g-700 !important;

    &:hover {
      background: $color-g-800 !important;
      color: $color-white !important;
    }
  }
}
