// Hydration ToolBar styles
//
//      These styles are applied to the right side toolbar
//      in the hydration flow.

.Toolbar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  border-left: 1px solid;
  z-index: 999;
}

.Toolbar__top {
  padding: 8px;
  border-bottom: 1px solid;
}

.Toolbar__tabs {
  border-bottom: 1px solid;

  // MUI Overrides
  .MuiTab-root {
    min-width: auto;
    min-height: 40px;
    font-family: $font-heading;
    font-variant: small-caps;
    font-weight: $weight-bold;
    font-size: 10px;
    flex-grow: 1;
  }

  .MuiTabs-root {
    min-height: 40px;
  }

  .MuiTabs-indicator {
    background: transparent;
    height: 0;
  }
}

.Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__sources-tab:hover {
  color: $color-c-600;
}

.Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__transforms-tab:hover {
  color: $color-v-400;
}

.Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__destinations-tab:hover {
  color: $color-t-800;
}

.Toolbar__nodetype {
  padding: 8px 16px;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: left;
  color: $color-g-700;

  &:hover {
    background: $color-g-100;
    color: $color-black;
  }
}

.dark .Toolbar__nodetype {
  color: $color-g-400;

  &:hover {
    background: $color-g-800;
    color: $color-white;
  }
}

.Toolbar__connection-type {
  margin-bottom: 1rem !important;
}

.Toolbar__item-icon {
  width: 21px;
  margin-right: 4px;
}

.Toolbar__list {
  border-bottom: 1px solid $color-g-100;
  padding: 1rem 0 3rem;
  margin: 0;
  overflow-y: scroll;
  height: calc(100% - 200px);
}

.dark .Toolbar__list {
  border-color: $color-g-700;
}

.Toolbar__filters {
  border-bottom: 1px solid $color-g-100;
}

.dark .Toolbar__filters {
  border-color: $color-g-700;
}

.Toolbar__btm-btn {
  background-color: $color-g-50 !important;
  border-bottom: 1px solid $color-g-100 !important;
  align-self: flex-end;
  color: $color-g-600 !important;
  font-size: $font-size-body-0;
  box-shadow: 0 0 0 !important;
  padding: 8px 16px !important;
  text-align: left !important;
  justify-content: left !important;
  width: 100%;
  text-transform: none !important;
  font-weight: $weight-regular !important;
  border-radius: 0 !important;
  transition: all 0.2s ease-in-out !important;

  &:hover {
    color: $color-black !important;
    background: $color-g-100 !important;
  }

  .MuiSvgIcon-root {
    margin-right: 0.5rem;
  }
}

// Hydration input styles
.Input__textfield,
.Input__select:not(.Input__select--sensitivity) {
  margin-top: 1rem !important;
  width: 100%;
}

.Input__textfield label,
.Input__select label {
  color: $color-g-600;
}

.Input__textfield input,
.Input__select .MuiSelect-select {
  border-radius: $border-radius-1;
  border: 1px solid transparent;
  padding: 0.2rem;

  &:hover {
    border: 1px solid $color-g-100;
  }
}

.Input__textfield .Mui-focused input,
.Input__select .Mui-focused .MuiSelect-select {
  border: 1px solid $color-g-300;
  border-radius: $border-radius-1;
}

.Input__textfield div:before,
.Input__textfield div:after,
.Input__select div:before,
.Input__select div:after,
.Input__textfield div:hover:before,
.Input__textfield div:hover:after {
  content: '';
  border-bottom: none !important;
}

.Input__textfield label:not(.MuiFormLabel-filled):not(.Mui-focused),
.Input__select label:not(.MuiFormLabel-filled):not(.Mui-focused) {
  top: -7px;
}

.Input__textfield label:not(.MuiFormLabel-filled):not(.Mui-focused),
.Input__select label:not(.MuiFormLabel-filled):not(.Mui-focused) {
  background: $color-y-50;
  padding: 0.3rem;
}

.Input__select label {
  color: $color-g-600;
}

.Input__select .MuiSelect-select:focus {
  background-color: transparent;
}

.Input__textfield label,
.Input__select label {
  transition: all 0.2s ease-in-out;
}

.Input__filter input {
  background: $color-white;
}

.dark .Input__filter input {
  background: $color-black;
}

.Input__filter .MuiFilledInput-underline:before,
.Input__filter .MuiFilledInput-underline:after {
  display: none;
}

.Input__filter--destination {
  width: calc(100% - 92px);
}

.Icon__search {
  position: relative;
  top: 17px;
  margin-left: 14px;
  color: $color-g-400;
  vertical-align: top;
}

// Dark mode input styles
.dark {
  .Input__textfield label,
  .Input__select label {
    color: $color-g-300;
  }

  .Input__textfield input:hover,
  .Input__select .MuiSelect-select:hover {
    border: 1px solid $color-g-600;
  }

  .Input__textfield .Mui-focused input,
  .Input__select .Mui-focused .MuiSelect-select {
    border: 1px solid $color-g-300;
  }

  .Input__textfield label:not(.MuiFormLabel-filled):not(.Mui-focused),
  .Input__select label:not(.MuiFormLabel-filled):not(.Mui-focused) {
    background: $color-g-800;
    color: $color-g-100;
  }
}
