// Hydration ToolBar styles
//
//      These styles are applied to the right side toolbar
//      in the hydration flow.

.Toolbar {
  width: 260px;
  height: 100vh;
  border-left: 1px solid;
  z-index: 999;
}

.Toolbar__top {
  padding: 8px;
  border-bottom: 1px solid;
}

.Toolbar__tabs {
  border-bottom: 1px solid;

  // MUI Overrides
  .MuiTab-root {
    min-width: auto;
    min-height: 40px;
    font-family: $font-heading;
    font-variant: small-caps;
    font-weight: $weight-bold;
    font-size: 10px;
    padding: 0 10px;
  }

  .MuiTabs-root {
    min-height: 40px;
  }

  .MuiTabs-indicator {
    background: transparent;
    height: 0;
  }
}

.Toolbar__sources-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__sources-tab:hover {
  color: $color-c-600;
}

.Toolbar__transforms-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__transforms-tab:hover {
  color: $color-v-400;
}

.Toolbar__destinations-tab.MuiTab-textColorPrimary.Mui-selected,
.Toolbar__destinations-tab:hover {
  color: $color-t-800;
}

.Toolbar__nodetype {
  padding: 5px;
  margin: 10px 10px;
  border: solid 2px;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: center;
}

// Hydration flow tile styles
.Tile__delete svg path {
  fill: $color-black;
}

.Tile__delete {
  position: absolute;
  display: inline;
  top: 0.7rem;
  right: 0.5rem;

  &:hover > button span svg path {
    fill: $color-r-600;
  }
}

// Hydration flow input styles
.Input__textfield,
.Input__select {
  margin-top: 1rem !important;
  width: 100%;
}

.Input__textfield label,
.Input__select label {
  color: $color-g-600;
}

.Input__textfield input,
.Input__select .MuiSelect-select {
  border-radius: $border-radius-1;
  border: 1px solid transparent;
  padding: 0.2rem;

  &:hover {
    border: 1px solid $color-g-100;
  }
}

.Input__textfield .Mui-focused input,
.Input__select .Mui-focused .MuiSelect-select {
  border: 1px solid $color-g-300;
  border-radius: $border-radius-1;
}

.Input__textfield div:before,
.Input__textfield div:after,
.Input__select div:before,
.Input__select div:after,
.Input__textfield div:hover:before,
.Input__textfield div:hover:after {
  content: '';
  border-bottom: none !important;
}

.Input__textfield label:not(.MuiFormLabel-filled):not(.Mui-focused),
.Input__select label:not(.MuiFormLabel-filled):not(.Mui-focused) {
  top: -7px;
}

.Input__textfield label:not(.MuiFormLabel-filled):not(.Mui-focused),
.Input__select label:not(.MuiFormLabel-filled):not(.Mui-focused) {
  background: $color-y-50;
  padding: 0.3rem;
}

.Input__select label {
  color: $color-g-600;
}

.Input__select .MuiSelect-select:focus {
  background-color: transparent;
}
