// Import design tokens
@import '~@edma/design-tokens/_scss/variables';

// Import component styles
@import 'components/App';
@import 'components/JobDesigner';
@import 'components/Navigation';
@import 'components/SearchModal';
@import 'components/SideBar';
