// Import design tokens
@import '~@edma/design-tokens/_scss/variables';

// Import component styles
@import 'components/App';
@import 'components/Navigation';
@import 'components/SideBar';

@import 'components/Canvas';
