// Import design tokens and react-diagrams
@import '~@edma/design-tokens/_scss/variables';
@import '~storm-react-diagrams/dist/style.min';

// Import component styles
@import 'components/App';
@import 'components/JobDesigner';
@import 'components/Navigation';
@import 'components/SearchModal';
@import 'components/SideBar';
